import(methods)
import(grid)
import(ade4)
importFrom(grImport, PostScriptTrace, readPicture, picture)
export(
	plotMotifLogo, plotMotifLogoA,
	plotXaxis, plotYaxis, 
	colorset, 
	plotMotifLogoStack, plotMotifLogoStackWithTree, 	DNAmotifAlignment, plotMotifStackWithRadialPhylog, 
	readPCM, 
	pcm2pfm
)
exportClasses("pfm")
exportMethods(
		plot,
		getIC,
		matrixReverseComplement,
		addBlank
)
