import(methods)
import(grid)
import(ade4)
importFrom(grImport, PostScriptTrace, readPicture, picture)
importFrom(MotIV, readDBScores, motifDistances, motifHclust)
export(
	plotMotifLogo, plotMotifLogoA,
	plotXaxis, plotYaxis, 
	colorset,
	motifStack,
	plotMotifLogoStack, plotMotifLogoStackWithTree, DNAmotifAlignment, plotMotifStackWithPhylog, plotMotifStackWithRadialPhylog,
	motifSignature, motifCloud,
	readPCM
)
exportClasses("pfm", "pcm", "ouNode", "motifSig")
exportMethods(
		plot,
		getIC,
		matrixReverseComplement,
		addBlank,
		pcm2pfm,
		signatures,
		frequence,
		nodelist
)
