import(grDevices)
import(stats)
import(utils)
import(methods)
import(grid)
import(ade4)
import(XML)
importFrom(scales, rescale)
importFrom(grImport, PostScriptTrace, readPicture, picture, pictureGrob)
importFrom(MotIV, readDBScores, motifDistances, motifHclust)
importFrom(Biostrings, PWM)
import(htmlwidgets)
importFrom("graphics", "abline", "axis", "box", "layout", "legend",
             "lines", "mtext", "par", "plot", "plot.default", "plot.new",
             "plot.window", "points", "polygon", "rect", "segments",
             "strheight", "strwidth", "symbols", "text")
importMethodsFrom("stats4", "plot")
export(
    browseMotifs,
    browseMotifsOutput,
    plotMotifLogo, plotMotifLogoA, plotAffinityLogo,
    plotXaxis, plotYaxis, 
    colorset,highlightCol,
    importMatrix,
    mergeMotifs,
    motifStack,
    plotMotifOverMotif,
    plotMotifLogoStack, plotMotifLogoStackWithTree, DNAmotifAlignment, 
    plotMotifStackWithPhylog, plotMotifStackWithRadialPhylog,
    pfm2pwm,
    motifSignature, motifCloud, motifCircos, motifPiles,
    readPCM,
    renderbrowseMotifs,
    reorderUPGMAtree,
    getRankedUniqueMotifs
)
exportClasses("pfm", "pcm", "psam", "ouNode", "motifSig")
exportMethods(
        getIC,
        matrixReverseComplement,
        addBlank,
        pcm2pfm,
        signatures,
        frequence,
        nodelist,
        plot,
        sigColor,
        trimMotif,
        "$", "$<-"
)
